*{
    margin: 0px auto;
    padding: 0px;
}

.main{
    height: 1500px;
    width: 1500px;
    background-color: gray;
}

.header{
    height: 300px;
    background-color: blue;
}
.content1{
    padding: 10px;
    height: 300px;
    background-color: white;
}

.a{
    background-color: green;
    height: 290px;
    width: 730px;
    float: left;
}

.b{
    background-color: green;
    height: 290px;
    width: 730px;
    float: right;
}


.content2{
    height: 300px;
}
.c{
    background-color: yellow;
    height: 300px;
    width: 500px;
    float: left;
}

.d{
    background-color: orange;
    height: 300px;
    width: 500px;
    float: left;
}

.e{
    background-color: crimson;
    height: 300px;
    width: 500px;
    float: right;
}