*{
    margin: 0px;
    padding: 0px;
    background-color: maroon;
}

.content{
    height: 300px;
    width: 900px;
    background-color: gray;
    margin-top: 30px;
    position: relative;
}

.a{
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute; /*a ko posiiton change garna use hunxa*/
    left: 100px;    /*left bata 200 px side ma rakhne  position use garera aako*/
    top: 200px;
    background-size: cover;
    border-radius: 200px;
    border: 5px solid white;

}

.b{
    height: 200px;
    width: 200px;
    background-color: #c25157;
    top: 200px;
    position: absolute;
    right: 100px;
    border: 5px solid white;
}